<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="fiture.quiamco.com.homefiture"
    android:installLocation="preferExternal">

    <uses-permission android:name="android.permission.INTERNET" />

    <provider
        android:name="com.facebook.FacebookContentProvider"
        android:authorities="com.facebook.app.FacebookContentProvider1234"
        android:exported="true" />

    <application
        android:name=".Activities.FireApp"
        android:allowBackup="true"
        android:icon="@drawable/fiturelogo2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.MainActivity" />
        <activity android:name=".Activities.UserStatus" />
        <activity android:name=".Activities.FacebookLoginActivity" />
        <activity
            android:name=".Activities.NavDrawer"
            android:label="Fiture"
            android:theme="@style/AppTheme" />
        <activity android:name=".Activities.BMI" />
        <activity android:name=".Activities.Lifestyle" />
        <activity android:name=".Activities.StartActivity" />
        <activity android:name=".Category.Gain" />
        <activity android:name=".Category.Lose" />
        <activity android:name=".Category.Maintain" />
        <activity android:name=".Exercises.Step_1" />
        <activity android:name=".Exercises.Step_2" />
        <activity android:name=".Exercises.Step_3" />
        <activity android:name=".Exercises.Step_4" />
        <activity android:name=".Exercises.GainDay_2.GStep_1" />
        <activity android:name=".Activities.Leaderboard" />
        <activity android:name=".Pedometer.Pedometer_Main" />
        <activity android:name=".Activities.SignupActivity" />
        <activity android:name=".Activities.ResetPasswordActivity" />
        <activity android:name=".BaseOnBMI.Underweight.FoodPlan" />
        <activity android:name=".BaseOnBMI.Underweight.Breakfast" />
        <activity android:name=".BaseOnBMI.Underweight.Lunch" />
        <activity android:name=".BaseOnBMI.Underweight.Dinner" />
        <activity android:name=".Exercises.LoseHeavy" />
        <activity android:name=".Exercises.LoseMoreHeavy" />
        <activity android:name=".Exercises.LoseMostHeavy" />
        <activity android:name=".Activities.day1heavy" />
        <activity android:name=".Exercises.Underweight.day2heavy" />
        <activity android:name=".Exercises.Underweight.day1moreheavy" />
        <activity android:name=".Exercises.day1mostheavy" />
        <activity android:name=".Exercises.day2mostheavy" />
        <activity android:name=".Exercises.day3heavy" />
        <activity android:name=".Exercises.day4heavy" />
        <activity android:name=".Exercises.day5heavy" />
        <activity android:name=".Exercises.day6heavy" />
        <activity android:name=".Exercises.workout1day2" />
        <activity android:name=".Exercises.Workout2day2" />
        <activity android:name=".Exercises.Workout3day2" />
        <activity android:name=".Exercises.Workout4day2" />
        <activity android:name=".Exercises.Workout5day2" />
        <activity android:name=".Exercises.Workout6day2" />
        <activity android:name=".Exercises.Workout1day3" />
        <activity android:name=".Exercises.workout2day3" />
        <activity android:name=".Exercises.Workout3day3" />
        <activity android:name=".Exercises.Workout4day3" />
        <activity android:name=".Exercises.Workout5day3" />
        <activity android:name=".Exercises.Workout6day3" />
        <activity android:name=".Exercises.day3moreheavy" />
        <activity android:name=".Exercises.workout2day2mostheavy" />
        <activity android:name=".Exercises.workout3daymostheavy" />
        <activity android:name=".Exercises.workout4day1mostheavy" />
        <activity android:name=".Exercises.workout5day1mostheavy" />
        <activity android:name=".Exercises.workout6day1mostheavy" />
        <activity android:name=".Exercises.workoutMostHeavy" />
        <activity android:name=".Exercises.workoutmostheavy1" />
        <activity android:name=".Exercises.MostHeavyAddingWeight1" />
        <activity android:name=".Exercises.MostHeavyAddingWeight0" />
        <activity android:name=".Exercises.Day2Step1_1" />
        <activity android:name=".Exercises.day2Step2_2" />
        <activity android:name=".Gamification.GameRequest" />
        <activity android:name=".Exercises.exercise1mostheavy" />
        <activity android:name=".Exercises.exercise2mostheavy" />
        <activity android:name=".Exercises.exercise3mostheavy" />
        <activity android:name=".Exercises.exercise4mostheavy" />
        <activity android:name=".Exercises.exercise5mostheavy" />
        =======
        >>>>>>> origin/master
        <activity android:name=".Exercises.exercise1mostheavyd2" />
        <activity android:name=".Exercises.exercise2mostheavyd2" />
        <activity android:name=".Exercises.exercise3mostheavyd2" />
        <activity android:name=".Exercises.exercise4mostheavyd2" />
        <activity android:name=".Exercises.exercise5mostheavyd2" />
        <activity android:name=".Exercises.exercise6mostheavyd2" />
        <activity android:name=".Exercises.exercise1mostheavyd3" />
        <activity android:name=".Exercises.exercise2mostheavyd3" />
        <activity android:name=".Exercises.exercise3mostheavyd3" />
        <activity android:name=".Exercises.exercise4mostheavyd3" />
        <activity android:name=".Exercises.exercise5mostheavyd3" />
        <activity android:name=".Exercises.exercise6mostheavyd3" />
        <activity android:name=".Activities.MyRank" />
        <activity android:name=".Activities.Splash2" />
        <activity android:name=".Activities.Weekly" />
        <activity android:name=".Activities.Ready" />
        <activity android:name=".Activities.PushUp" />
        <activity android:name=".Activities.ExercisesDay1" />
        <activity android:name=".Activities.PikePushUps" />
        <activity android:name=".Activities.ReadyPikePushups" />
        <activity android:name=".Activities.ReadyTricepsDip" />
        <activity android:name=".Activities.ReadyPullups" />
        <activity android:name=".Activities.ReadyAbCircuits" />
        <activity android:name=".Activities.ReadyBodyweightSquat" />
        <activity android:name=".Activities.BodyweightSquat" />
        <activity android:name=".Activities.TricepsDip" />
        <activity android:name=".Activities.Pullups" />
        <activity android:name=".Activities.AbCircuits" />
        <activity android:name=".Activities.ExercisesDay2" />
        <activity android:name=".Activities.SquatJump" />
        <activity android:name=".Activities.ReadySquatJump" />
        <activity android:name=".Activities.Lunge" />
        <activity android:name=".Activities.ReadyLunge" />
        <activity android:name=".Activities.StandingCalfRaise" />
        <activity android:name=".Activities.ReadyStandingCalfRaise" />
        <activity android:name=".Activities.Burpee" />
        <activity android:name=".Activities.ReadyBurpee" />
        <activity android:name=".LoseExcercise.Monday.ReadyBentOver" />
        <activity android:name=".LoseExcercise.Monday.BodyWeightSquat" />
        <activity android:name=".LoseExcercise.Monday.BoxStepUp" />
        <activity android:name=".LoseExcercise.Monday.DumbellBenchPress" />
        <activity android:name=".LoseExcercise.Monday.LyingIsometricycling" />
        <activity android:name=".LoseExcercise.Monday.Plank" />
        <activity android:name=".LoseExcercise.Tuesday.FullOutSprint" />
        <activity android:name=".LoseExcercise.Tuesday.ModeratePaceJog" />
        <activity android:name=".LoseExcercise.Wednesday.FoamRolling" />
        <activity android:name=".LoseExcercise.Wednesday.WalkingLunge" />
        <activity android:name=".LoseExcercise.Friday.HighKness" />
        <activity android:name=".LoseExcercise.Friday.JumpingLunges" />
        <activity android:name=".LoseExcercise.Friday.MtClimb" />
        <activity android:name=".LoseExcercise.Friday.PushUpsOblique" />
        <activity android:name=".LoseExcercise.Friday.SquatJacks" />
        <activity android:name=".LoseExcercise.Friday.SquatsLegSide" />
        <activity android:name=".LoseExcercise.Friday.StarJumps" />
        <activity android:name=".LoseExcercise.Friday.ThighSlapJumps" />
        <activity android:name=".LoseExcercise.Monday.Instructions.InsBodyWeightSquat" />
        <activity android:name=".LoseExcercise.Monday.Instructions.InsBoxStepUp" />
        <activity android:name=".LoseExcercise.Monday.Instructions.InsDumbellBench" />
        <activity android:name=".LoseExcercise.Monday.Instructions.InsLying" />
        <activity android:name=".LoseExcercise.Monday.Instructions.InsPlank" />
        <activity android:name=".LoseExcercise.Monday.Instructions.InsBentOver" />
        <activity android:name=".LoseExcercise.Tuesday.Instructions.InsFullSprint" />
        <activity android:name=".LoseExcercise.Tuesday.Instructions.InsModeratePaceJog" />
        <activity android:name=".LoseExcercise.Wednesday.Instructions.InsFoamRolling" />
        <activity android:name=".LoseExcercise.Wednesday.Instructions.InsWalkingLunge" />
        <activity android:name=".LoseExcercise.Friday.Instructions.InsHighKnees" />
        <activity android:name=".LoseExcercise.Friday.Instructions.InsJumpingLunges" />
        <activity android:name=".LoseExcercise.Friday.Instructions.InsMtClimb" />
        <activity android:name=".LoseExcercise.Friday.Instructions.InsPushUpsOblique" />
        <activity android:name=".LoseExcercise.Friday.Instructions.InsSquatJacks" />
        <activity android:name=".LoseExcercise.Friday.Instructions.InsSquatsLegSide" />
        <activity android:name=".LoseExcercise.Friday.Instructions.InsStarJumps" />
        <activity android:name=".LoseExcercise.Friday.Instructions.InsThighSlapJumps" />
        <activity android:name=".Ectomorph.Day1ChestTriceps.Dips" />
        <activity android:name=".Ectomorph.Day1ChestTriceps.DumbellFlyers" />
        <activity android:name=".Ectomorph.Day1ChestTriceps.InclinePress" />
        <activity android:name=".Ectomorph.Day1ChestTriceps.SkullBench" />
        <activity android:name=".Ectomorph.Day2BackBiceps.AlternatingCurls" />
        <activity android:name=".Ectomorph.Day2BackBiceps.BentOverBarbell" />
        <activity android:name=".Ectomorph.Day2BackBiceps.DumbellRows" />
        <activity android:name=".Ectomorph.Day2BackBiceps.StandingBarbellCurls" />
        <activity android:name=".Ectomorph.Day2BackBiceps.WideGridPullUp" />
        <activity android:name=".Ectomorph.Day3LegShoulders.BarbellSquat" />
        <activity android:name=".Ectomorph.Day3LegShoulders.LateralRaise" />
        <activity android:name=".Ectomorph.Day3LegShoulders.LegExtensions" />
        <activity android:name=".Ectomorph.Day3LegShoulders.LegLyingPress" />
        <activity android:name=".Ectomorph.Day3LegShoulders.ShoulderPress" />
        <activity android:name=".Ectomorph.Day3LegShoulders.UprightLateral" />
        <activity android:name=".Ectomorph.HighRepAbDays.Crunch" />
        <activity android:name=".Ectomorph.HighRepAbDays.ReverseCrunch" />
        <activity android:name=".Ectomorph.LowRepAbDay.BallCrunch" />
        <activity android:name=".Ectomorph.LowRepAbDay.HangingLegRaise" />
        <activity android:name=".Ectomorph.OptionalDays.BenchPress" />
        <activity android:name=".Ectomorph.OptionalDays.LatPullDowns" />
        <activity android:name=".Ectomorph.OptionalDays.SkullCrush" />
        <activity android:name=".Mesomorph.Mesomorph.Monday.LongJump" />
        <activity android:name=".Mesomorph.Mesomorph.tuesday.MixedIntervalWrkout" />
        <activity android:name=".Mesomorph.Mesomorph.Wednesday.EllipticalInterval" />
        <activity android:name=".Ectomorph.LayoutEcto.ectomorphday1exercises" />
        <activity android:name=".Ectomorph.Day3LegShoulders.Ectomorphday3exercises" />
        <activity android:name=".Ectomorph.HighRepAbDays.HighRepAbDays" />
        <activity android:name=".Ectomorph.LowRepAbDay.ectomorphlowrepday" />
        <activity android:name=".Ectomorph.OptionalDays.EctomorphOptionalDays" />
        <activity android:name=".Mesomorph.Mesomorph.Monday.mesomorphday1" />
        <activity android:name=".Mesomorph.Mesomorph.tuesday.mesomorphday2" />
        <activity android:name=".Mesomorph.Mesomorph.Wednesday.mesomorphday3"></activity>
    </application>

</manifest>