<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="fiture.quiamco.com.homefiture"
    android:installLocation="preferExternal">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/fiturelogo2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".UserStatus" />
        <activity android:name=".FacebookLoginActivity" />
        <activity
            android:name=".NavDrawer"
            android:label="Fiture"
            android:theme="@style/AppTheme" />
        <activity android:name=".BMI" />
        <activity android:name=".Lifestyle" />
        <activity android:name=".StartActivity" />
        <activity android:name=".Category.Gain" />
        <activity android:name=".Category.Lose" />
        <activity android:name=".Category.Maintain" />
        <activity android:name=".Exercises.Step_1" />
        <activity android:name=".Exercises.Step_2" />
        <activity android:name=".Exercises.Step_3" />
        <activity android:name=".Exercises.Step_4" />
        <activity android:name=".Exercises.GainDay_2.GStep_1" />
        <activity android:name=".Leaderboard" />
        <activity android:name=".Pedometer.Pedometer_Main" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".ResetPasswordActivity" />
        <activity android:name=".BaseOnBMI.Underweight.FoodPlan" />
        <activity android:name=".BaseOnBMI.Underweight.Breakfast" />
        <activity android:name=".Exercises.LoseHeavy" />
        <activity android:name=".Exercises.LoseMoreHeavy" />
        <activity android:name=".Exercises.LoseMostHeavy" />
        <activity android:name=".Exercises.day1heavy" />
        <activity android:name=".Exercises.Underweight.day2heavy" />
        <activity android:name=".Exercises.Underweight.day1moreheavy" />
        <activity android:name=".Exercises.day1moreheavy" />
        <activity android:name=".Exercises.day1mostheavy" />
        <activity android:name=".Exercises.day2mostheavy" />
        <activity android:name=".Exercises.day3heavy" />
        <activity android:name=".Exercises.day4heavy" />
        <activity android:name=".Exercises.day5heavy" />
        <activity android:name=".Exercises.day6heavy" />
        <activity android:name=".Exercises.day7heavy" />
        <activity android:name=".Exercises.workout1day2" />
        <activity android:name=".Exercises.Workout2day2" />
        <activity android:name=".Exercises.Workout3day2" />
        <activity android:name=".Exercises.Workout4day2" />
        <activity android:name=".Exercises.Workout5day2" />
        <activity android:name=".Exercises.Workout6day2" />
        <activity android:name=".Exercises.Workout1day3" />
        <activity android:name=".Exercises.workout2day3" />
        <activity android:name=".Exercises.Workout3day3" />
        <activity android:name=".Exercises.Workout4day3" />
        <activity android:name=".Exercises.Workout5day3" />
        <activity android:name=".Exercises.Workout6day3" />
        <activity android:name=".Exercises.day3moreheavy" />
        <activity android:name=".Exercises.workout2day2mostheavy" />
        <activity android:name=".Exercises.workout3daymostheavy" />
        <activity android:name=".Exercises.workout4day1mostheavy" />
        <activity android:name=".Exercises.workout5day1mostheavy" />
        <activity android:name=".Exercises.workout6day1mostheavy" />
        <activity android:name=".Exercises.workoutMostHeavy" />
        <activity android:name=".Exercises.workoutmostheavy1" />
        <activity android:name=".Exercises.MostHeavyAddingWeight1" />
        <activity android:name=".Exercises.MostHeavyAddingWeight0" />
        <activity android:name=".Exercises.Day2Step1_1" />
        <activity android:name=".Exercises.day2Step2_2"></activity>
    </application>

</manifest>